<body class = "my-form">
  <div class="dashboard">
    <h1>Welcome, Admin!</h1>
    <div class="stats">
      <div class="stat-card">
        <h3># Restaurants</h3>
        <p>{{ totalRestaurants }}</p> 
        <button class="center-button" routerLink="/restaurants/new" mat-raised-button color="primary">Add New Restaurant</button>       
      </div>
      <div class="actions">
        <br>
        
      </div>
      <div class="stat-card">
        <h3># Dishes</h3>
        <p>{{ totalDishes }}</p>
        <button class="center-button" routerLink="/dishes/new" mat-raised-button color="accent">Add New Dish</button>
        
      </div>
    </div>
    
  </div>
</body> 
  